body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.contenedor {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
  
}
.formulario {
  text-align: center;
  margin-bottom: 20px;
}

input, button {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
}

#resultado {
  margin-top: 1rem;
  text-align: 15px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  
}
/* Opcional: dar un mismo aspecto general */
form button {
  margin-top: 1rem;
  margin-right: 0.5rem;
  width: 45%;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
/* Estilo para botón de Verificar */
#formulario button[type="submit"] {
  background-color: red;
  color: yellow;
  border: none;
}

/* Estilo para botón de Reset */
#reset {
  background-color: green;
  color: white;
  border: none;
}

